* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media screen and (max-width: 1100px) {
  .container {
    max-width: 850px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    max-width: 700px;
  }
}
header {
  text-align: center;
}
header .logo {
  padding: 40px 0;
}
header .logo img {
  width: 200px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul a {
  font-size: 23px;
  text-decoration: none;
  color: #000;
  padding: 15px;
  display: inline-block;
}
nav ul a:hover {
  background-color: rgba(178, 229, 252, 0.5);
}
nav ul .active {
  background-color: #b2e5fc;
}
nav .burger-menu {
  color: #002d73;
  font-size: 35px;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 1100px) {
  nav ul {
    display: none;
  }
  nav .burger-menu {
    display: block;
  }
}

.main-bg {
  background-image: url("../images/fondo-pag-speciali.jpg");
  padding: 30px 0;
}

section h2 {
  text-transform: uppercase;
  font-size: 35px;
  color: #002d73;
  margin: 15px 10px;
  font-weight: 400;
}
section .cards {
  display: flex;
  flex-wrap: wrap;
}
section .card {
  width: calc((100% / 3 ) - 20px);
  margin: 0 10px 20px;
}
section .card img {
  width: 100%;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  section .card {
    width: calc((100% / 2 ) - 20px);
  }
}
@media screen and (max-width: 900px) {
  section .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

.product-bg {
  background-color: #b7dae5;
  padding: 40px 0;
  color: #002d73;
  position: relative;
}
.product-bg .product h1 {
  text-align: center;
}
.product-bg .product img {
  display: block;
  width: 100%;
}
.product-bg .angle {
  display: inline-block;
  position: absolute;
  top: 50%;
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  color: #fff;
}
.product-bg .angle.left {
  left: 0;
}
.product-bg .angle.right {
  right: 0;
}

.news-bg {
  background-color: #b7dae5;
  padding: 40px 0;
  text-align: center;
  color: #002d73;
}

footer {
  color: #848d9b;
  padding-top: 30px;
}
footer .container {
  display: flex;
}
footer .info {
  width: 30%;
}
footer .info img {
  width: 250px;
}
footer .info ul {
  list-style: none;
  font-size: 14px;
}
@media screen and (max-width: 1100px) {
  footer .container {
    flex-wrap: wrap;
  }
  footer .info {
    width: 100%;
  }
  footer .info img {
    width: 250px;
  }
}
footer .footer_link {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
footer .footer_link ul {
  width: 50%;
  list-style: none;
}
footer .footer_link ul li:first-child {
  margin-bottom: 15px;
}
footer .footer_link ul li {
  margin: 10px 0;
}
footer .footer_link ul a {
  color: #848d9b;
  text-decoration: none;
}
footer .footer_link ul a:hover {
  text-decoration: underline;
}
footer .footer_link h3 {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
}
footer img {
  width: 100%;
}
@media screen and (max-width: 1100px) {
  footer .footer_link {
    width: 100%;
  }
  footer .footer_link ul {
    width: 100%;
  }
}
