header{
    text-align: center;
    .logo{
        padding: 40px 0;
        img{
            width: 200px;
        }  
    }
     
}
nav{
    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        a{
            font-size: $font_medium;
            text-decoration: none;
            color: #000;
            padding: 15px;
            display: inline-block;
            &:hover{
                background-color: rgba($main_color,0.5);
            }
        }
        .active{
            background-color: $main_color;
        }
    }
    .burger-menu{
        color: $title_color;
        font-size: $font_big;
        cursor: pointer;
        display: none;
    }
    // responsive
    @media screen and (max-width: 1100px){
        ul{
            display: none;
        }
        .burger-menu{
            display: block;
        }
    }
    // /responsive
}