// color
$main_color: #b2e5fc;
$product-bg_color: #b7dae5;
$text_color: #848d9b;
$title_color: #002d73;
// font size
$font_small: 14px;
$font_normal: 18px;
$font_medium: 23px;
$font_big: 35px;
// size
$container: 1200px;
$containerMd: 850px;
$containerXs: 700px;
